{% extends "base.html" %}

{% block title %}Admin Dashboard - The Risky Burger{% endblock %}

{% block header %}Admin Dashboard{% endblock %}

{% block content %}
    <h2>Add or Update Menu Item</h2>
    <form method="POST" action="{{ url_for('admin_dashboard') }}" id="menu-form">
        <input type="hidden" id="id" name="id">
        <label for="name" class="form-label">Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="description" class="form-label">Description:</label>
        <textarea id="description" name="description"></textarea>
        <label for="ingredients" class="form-label">Ingredients:</label>
        <textarea id="ingredients" name="ingredients"></textarea>
        <label for="image" class="form-label">Image URL:</label>
        <input type="text" id="image" name="image">
        <label for="category" class="form-label">Category:</label>
        <select id="category" name="category" onchange="toggleFields()">
            <option value="Bebidas">Bebidas</option>
            <option value="Entrantes">Entrantes</option>
            <option value="Burger's">Burger's</option>
            <option value="Brioche's">Brioche's</option>
            <option value="Postres">Postres</option>
        </select>
        <label for="price" class="form-label">Price:</label>
        <input type="number" id="price" name="price" required step="0.01">
        <button type="submit" id="add-button" name="submit" value="Add" class="button">Add Item</button>
        <button type="submit" id="confirm-update-button" name="submit" value="Update" style="display:none;" class="button">Confirm Update</button>
        <button type="button" id="cancel-update-button" style="display:none;" onclick="cancelUpdate()" class="button">Cancel</button>
    </form>
    <h2>Current Menu</h2>
    <ul>
        {% for item in items %}
            <li>
                <img src="{{ item.image }}" alt="{{ item.name }}">
                <div class="item-info">
                    <h3>{{ item.name }}</h3>
                    <p>{{ item.description }}</p>
                    <p>Price: ${{ item.price }}</p>
                    <button class="button update-button" data-item='{{ item|tojson }}'>Modify</button>
                    <form method="POST" action="{{ url_for('delete_item', id=item.id) }}" class="delete-form" onsubmit="return confirmDelete()">
                        <button type="submit" class="button delete-button">Delete</button>
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}



