
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
</head>
<body>
    <nav class="navbar">
        <a href="{{ url_for('index') }}" class="nav-logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="nav-icon">
            The Risky Burger
        </a>
        <div class="nav-toggle" id="navToggle">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </nav>
    <ul class="nav-menu" id="navMenu">
        <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link" title="Inicio">Inicio</a></li>
        <li class="nav-item"><a href="{{ url_for('menu') }}" class="nav-link" title="Carta">Carta</a></li>
    </ul>

    <script>
        document.getElementById('navToggle').addEventListener('click', function() {
            document.getElementById('navMenu').classList.toggle('nav-menu-active');
        });

        document.querySelectorAll('.nav-link').forEach(function(link) {
            link.addEventListener('click', function() {
                document.getElementById('navMenu').classList.remove('nav-menu-active');
            });
        });
    </script>
</body>

